# Archivos de compilación
bin/
obj/

# Archivos de usuario de Visual Studio
*.user
*.suo
*.userosscache
*.sln.docstates

# Configuraciones locales y sensibles  
web.config  
.vs/  
bin/  
obj/  

# Paquetes NuGet
packages/
*.nupkg
project.lock.json
project.fragment.lock.json
artifacts/

# Archivos de publicación
*.publish.xml

# Archivos de log y temporales
*.log
*.tmp

# Archivos de configuración de IIS Express
.vsconfig
*.dbmdl

# Archivos de test
TestResults/
*.TestResults

# Archivos de configuración de Rider
.idea/

# Archivos de configuración de usuario de Resharper
*.DotSettings.user
